/* CSS Document */
*{
	margin:0;
	padding:0px;
}
a, p, h1, h2, h3, h4, h5, h6, td, th {
	font-family:Georgia, "Times New Roman", Times, serif;
}
.wrapper{
	width:1000px;
	height:auto;
	margin:auto;
	box-shadow:0px 1px 10px #171515;
}
.header{
	width:100%;
	height:150px;
	background:#3498DB;
}
.menu{
	width:100%;
	height:60px;
	background:#3498DB;
	margin-top:4px;
}
.content{
	width:100%;
	min-height:300px;
	height:auto;
	margin-top:4px;
	
}
.left{
	width:auto;
	height:auto;	
	float:left;
}
.right{
	width:auto;
	height:auto;	
	float:left;
	margin-left:10px;
	margin-bottom: 10px;
}
.menu ul{	
	list-style-type:none;
	height:60px;
	width:100%;
}
.menu ul li{
	padding-left:10px;
	width: 182px;
	height:60px;
	line-height:60px;
	float:left;
	
}
.menu a{
	text-decoration:none;
	color:#FFF;
}

.menu ul li:hover {	
	border-bottom:solid 4px;
	border-bottom-color:#cc181e;
}
.menu ul a li:hover {	
	color:#cc181e;
}
.footer{
	width:100%;
	height:150px;
	background:#3498DB;
	margin-top:2px;
}


.clear{
	clear:both;
}
.themchitietsp{
	margin-left:89px;
	
}
table[border="1"] {
  border-collapse:collapse;
  font:normal normal 15px Verdana,Arial,Sans-Serif;
  color:#666;
  margin-bottom:10px;
}
table[border="1"] tr {
  background:#fafafa;
}
table[border="1"] th,
table[border="1"] td {
  vertical-align:central;
  padding:5px 10px;
  border:1px solid #fff;
}

table[border="1"] tr:nth-child(even) {
  background:#f5f5f5;
}

table[border="1"] th {
  background:#3498DB;
  color:#fff;
  font-weight:bold;
  
}
.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 75px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
	background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
	background-color:#378de5;
}
.button:active {
	position:relative;
	top:1px;
}
.noidung i:hover{
	color:red;
}
.lienhe h3 {
	text-align: center;
    padding-top: 64px;
    color: #3498DB;
}
.lienhe a i:hover{
	
	color:#000;
}

